USE [master]
GO
/****** Object:  Database [DatosPersonales]    Script Date: 24/04/2023 12:07:21 p. m. ******/
CREATE DATABASE [DatosPersonales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatosPersonales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DatosPersonales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatosPersonales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DatosPersonales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatosPersonales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatosPersonales]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/04/2023 12:07:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](15) NOT NULL,
	[Nombre] [varchar](120) NOT NULL,
	[Apellido] [varchar](120) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Telefono] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
